body {
  font:15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #ecf9f2;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*Header**/
header{
  background: #bdcebe;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding:0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#618685;
  font-weight: bold;
}

header a:hover{
  color:#618685;
  font-weight: bold;
}

/*Profile Pictur*/
#profile p, h1{
  margin-top: 50px;
  text-align: center;
}
#profile .container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 30%;
}

/*SKills*/
#skills p, h1{
  margin-top: auto;
  text-align: center;
}

#skills .skill {
  float: left;
  width: 20%;
  text-align: left;
  padding: 5px;
  padding-left: 10%;
}

#skills ul {
  color: #618685;
  text-align: left;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
}

/*Interests*/
#interests p, h1{
  margin-top: 50px;
  text-align: center;
}

#interests img {
  padding-top: 10px;
  height: 60px;
  width: 60px;
}

#interests .interest {
  float: left;
  width: 21%;
  text-align: center;
  padding: 10px;
}

/*Project*/
#boxes {
  margin-top: 50px;
  float:center;
  text-align: center;
  padding:10px;
}

#boxes .box1 img{
  width:200px;
}

#boxes .box3 img{
  width: 35%;
  float: left;
  padding-bottom: 30px;
}

#boxes iframe {
  width: 560px;
  height: 315px;
  border: 0;

}

#boxes h3{
  color:  #618685;
  text-transform: uppercase;
  padding: 10px;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

footer{
  padding: 10px;
  margin-top: 20px;
  background-color: #85929E;
  text-align: center;
  color: #FDFEFE;
  bottom: 0;
}



@media only screen and (max-width: 600px) {
  header nav{
    float:left;
    margin-top: 5px;
    text-align: inherit;
    padding-bottom: 10px;
  }

  header #branding{
    float: none;
  }

  body {
    font-size: 12px;
  }

  header li {
    padding:auto;
  }

  #profile .container img {
    width: 50%;
  }

  #skills .skill {
    width: 20%;
    padding: 15px;
  }

  #skills h3 {
    font-size: 12px;
  }

  #interests p {
    display: none;
  }

  #interests .interest {
    width: 16%;
  }

  #interests img {
    height: 35px;
    width: 35px;
  }

  #boxes iframe{
    width: 300px;
    height: 200px;
  }

  #boxes .box3 img {
    width: 85%;
    float: center;
    padding-left: 8%;
  }

  footer {
    font-size: 12px;
  }
}
